tbody tr {
    cursor: pointer;
}
.modal-body .row {
    margin-left: 0px;
    margin-right: 0px;
}

.form-group.form-md-line-input .form-control[readonly] {
    cursor: auto;
}
.control-label {
    margin-top: 5px;
    font-weight: 600;
}
.form-group.form-md-line-input {
    padding-top: 0px;
}